/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
  background-color: turquoise;
}
.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 1.5em;
  background: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 0.4em;
  -webkit-box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.23);
  box-shadow: 3px 3px 15px 3px rgba(0, 0, 0, 0.23);
}
.hide {
  display: none;
}
h1 {
  margin: 0;
  text-align: center;
  color: #34568b;
}
p {
  text-align: center;
}
label,
textarea,
button {
  display: block;
}
label {
  margin-bottom: 10px;
  padding-top: 20px;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  border-top: 1px solid #ccc;
}
textarea {
  width: 100%;
  height: 5em;
  margin-bottom: 20px;
}
#analyzeButton {
  width: 100%;
  margin: 10px;
  padding: 0.46em 1.6em;
  border: 0.1em solid #116cd4;
  margin: 0 0.2em 0.2em 0;
  background-color: #34568b;
  border-radius: 0.12em;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  text-shadow: 0 0.04em 0.04em rgba(0, 0, 0, 0.35);
  transition: all 0.2s;
}
#analyzeButton:hover {
  background-color: #116cd4;
}
#returnedObject p {
  padding: 1em;
  font-size: 24px;
  color: #fff;
  background: #34568b;
  border-radius: 0.4em;
}

